.MarketSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: rgb(235, 235, 235); */
    background-color: #f7f7f7;
    padding: 48px;
    gap: 48px;
    margin-top: var(--section-distance);
}

.MarketSection h2 {
    font-weight: bold;
    color: var(--title-color);
    font-size: 2em;
}

.portraitSection {
    display: flex;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 1220px;
    width: 100%;
    justify-content: space-between;
}