.pokemonSection {
    padding-top: var(--section-distance);
    padding-bottom: var(--section-distance);
}

.textContainer {
    background-color: rgba(255, 255, 255, 0.692);
    color: black;
    padding: 1rem;
    border-radius: 10px;
}