.pokemonSection {
    padding-top: var(--section-distance);
    padding-bottom: var(--section-distance);
    background-color: rgb(223, 223, 223);
}

.textContainer {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}