.pokemonSection {
    padding-top: var(--section-distance);
    padding-bottom: var(--section-distance);
}

.textContainer {
    padding: 1rem;
    border-radius: 10px;
}

.textContainer a {
    color: var(--green-title);
}
