.portrait {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: fit-content;
    gap: 24px;
    max-width: 320px;
}


.portraitPicture {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
}

.companyLogo {
    height: 60px;
    object-fit: contain;
}

.interview {
    color: rgb(3, 32, 95);
    font-size: 1.1rem;
    background-color: #eef3fd;
    padding: 1rem;
    border-radius: 0.5rem;
}

.name {
    font-size: 1.1rem;
}
