.createAccount {
    min-height: 100vh; 
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    background-image: url("/public/images/createAccountPage/bgimage.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.textSection a {
    font-size: 1.2em;
}

.loginForm {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #fff;
    max-width: 400px;
    min-height: 500px;
    justify-content: space-evenly;    
    box-shadow: 0px 0px 2px 0px rgba(129, 129, 129, 0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(129, 129, 129, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(129, 129, 129, 0.75);
    border-radius: 5px;
}

.loginForm label, input {
    font-size: 0.9em;
}

.alreadyAccount {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
}

.textWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textWrap h2 {
    font-weight: 550;
}

.alreadyAccount p, a {
    font-size: 1em;
}

.createAccount a {
    color: var(--form-link-color);
}

.createAccount a:hover {
    color: var(--form-link-hover);
}

.createAccount h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.textSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    height: 100%;
}

.textSection img {
    margin-top: auto;
}

.acceptTerms {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.acceptTerms p {
    font-size: 0.8em;
}

.acceptTerms input {
    box-shadow: none;
}

.loginForm h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.login {
    max-width: 42%;
    margin: auto;
}

.loginForm input {
    /* border: 0.5px solid #ccc; */
    padding: 5px 10px;
    box-shadow: 0px 0px 1px 0px rgb(78, 78, 78);
    -webkit-box-shadow: 0px 0px 1px 0px rgb(78, 78, 78);
    -moz-box-shadow: 0px 0px 1px 0px rgb(78, 78, 78);
    border-radius: 5px;
}

.loginForm button {
    padding: 10px 0px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--button-color);
    margin-left: auto;
    color: #fff;
}

.loginForm button:hover {
    background-color: var(--button-hover);
}

.vertical {
    display: flex;
    flex-direction: column;
}

