


.header a {
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  font-size: 1.1rem;
  color: #fff;
}

.header a:hover {
  transition: 0.1s ease-in;
  transform: scale(1.1);
}

.navWrap {
  display: flex;
  transform-origin: right;
  justify-content: space-between;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
  z-index: 1;
  width: 100%;
}

.header button {
  color: white;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  height: 120px;
  width: auto;
  transition: height 0.5s ease-in-out;
}

.scroll-header img {
  height: 80px;
}

.scroll-header {
  background-color: var(--header-footer-color);
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.scroll-header a {
  text-decoration: none;
  cursor: pointer;
}

.buttonDiv {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .header {
      display: none;
  }
}