.myMasonryGrid {
  display: flex;
  margin-left: -15px;
  width: auto;
}

.myMasonryGridColumn {
  padding-left: 1.5rem;
  background-clip: padding-box;
}

.myMasonryGridColumn>div {
  margin-bottom: 1.5rem;
}

.waterfallWrap {}

.projectText {
  font-size: 5rem;
  color: var(--title)
}

@media screen and (max-width: 640px) {
  .projectText {
    font-size: 3rem;
  }
}