.button {
    padding: 8px 16px;
    color: white;
    background-color: var(--button-color);
    width: fit-content;
}

.button:hover {
    transition: 0.2s ease-in;
    background-color: var(--button-hover);
}