


.header a {
  text-decoration: none;
  cursor: pointer;
  font-size: var(--header-link-size);
  color: #fff;
}

.header a:hover {
  transition: 0.1s ease-in;
  transform: scale(1.02);
  color: #d9d9d9;
}

.navWrap {
  display: flex;
  transform-origin: right;
  gap: 32px;
  justify-content: space-between;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
  z-index: 1;
  width: 100%;
}

.login {
  background-color: black;
  border-radius: 10%;
  width: 100px;
  text-align: center;
}

.login:hover {
  background-color: rgb(54, 51, 51);
}

.header button {
  color: white;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.178);
  inset: 0;
  z-index: -1;
}

.header img {
  height: 90px;
  width: auto;
  transition: height 0.5s ease-in-out;
}

.scroll-header img {
  height: 80px;
}

.scroll-header {
  background-color: var(--header-footer-color);
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.scroll-header a {
  text-decoration: none;
  cursor: pointer;
}

.buttonDiv {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .header {
      display: none;
  }
}